html {
  background-color: #757575;
}

/*@font-face {
  font-family: "Clutch Sans";
  src: url("fonts/Clutch-Sans-Regular.otf") format("opentype");
}*/


body {
  font-size: 100%;
  margin: 0px;
}

h1, h2 {
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

h3, h4, p {
  font-family: "Gill Sans", sans-serif;
  color: #fff;
  font-weight: 100;
  margin:0;
}

h1 {
  font-size: 1.5em;
  line-height: 30px;
}

h2 {
  font-size: 1.2em;
  line-height: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 2em;
}

h4 {
  font-size: 0.8em;
  line-height: 1em;
}

p {
  font-size: 0.875em;
  line-height: 1em;
}

nav {
  background-color: #757575;
  padding: 20px;
  /*border-bottom: 1px solid #e5e5e5;*/
}

hr {
  display: block;
  border: 0.25px solid #e5e5e5;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

#menuIcon {
  height: 20px;
  width: 30px;
  float: left;
  padding: 5px 15px 5px 0px
}

.userInfo {
  padding: 10px;
  background-color: #353535;
}

.container_opacity {
  opacity: 0.1;
}

.title {
  background-color: #353535;
  margin: 0;
  padding: 10px 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.items {
  background-color: #757575;
  margin: 1px 0px 0px 0px;
}

.item {
  padding: 15px 20px;
  /*border-bottom: 1px solid #e5e5e5;*/
}

a:link {
  text-decoration: none;
}

button {
  padding: 7px 20px 10px 20px;
  background-color: #84c441;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 15px;
}

.cloudCharge {
  height: 30px;
  display: block;
  padding-bottom: 10px;
}

.cloudCharge h2 {
  padding-top: 4px;
}

.cloudCharge img {
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {
 .container {
   position: absolute;
   left: 250px;
   width: calc(100% - 250px);
 }

 h1 {
   font-size: 2em;
   line-height: 30px;
 }

 h2 {
   font-size: 1.5em;
   line-height: 1em;
 }

 h3 {
   font-size: 1.2em;
   line-height: 2em;
 }

 h4 {
   font-size: 1em;
   line-height: 1em;
 }

 p {
   font-size: 1.05em;
   line-height: 1em;
 }
}

@media only screen and (min-width: 1224px) {

}
